

.menu{
    background-color: #38512e;
}

.banner img{
    height: 60vh;
}



ul.productsMenu a{
    text-decoration: none;
    color: #38512e;
    text-transform: uppercase;
}
ul.productsMenu a:hover{
    color: #a39ece;
}
ul.productsMenu {
    list-style-type: none;
    margin: 20px;
    margin-left: 10vw;

}
.row{
    width: 90%;
    margin: auto;
}
.card{
    border: 2px solid #38512e;
    box-shadow: 2px 2px 5px #eadeeb;
    background-color: #f5f5f5;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
}
.heading{
    background-color: #dce9bd;
    padding: 20px;
    text-transform: uppercase;
}

.badge{
    background-color: #a39ece;
    margin-right: 10px;
    font-size: 12px;
}
.btn{
    background-color: #38512e;
    color: #fff;
    padding: 8px 16px;

}
.btn:hover{
    background-color: #a39ece;
    color: #fff;
    transition: 0.6s;
}

