body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.container > div{
    border: 1px solid black;
    background-color: lightpink;
}
.full{
    grid-column: span 4;
}
#new{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
#new > div {
    background-color: white;
    border: 1px solid black;
    margin: 20px;
}



