body{
    background-color: #ececec;
    
}
.menu{
    height: 10vh;
    background-color: #38512e;
    position: relative;
    position: sticky;
    z-index: 5;
    top: 0;
    font-family: "Be Vietnam Pro";
    font-weight: 200;
}
.logo{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar-nav{
    position: absolute;
    left: 85%;
}
a.nav-link{
    color: white;
}
h1{
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
}
.button-back{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: 5;
    background-color: white;
}
.arrow-back{
    height: 70px;
    width: 70px;
    top: -10%
}
.links{
  text-align: left;  
  border-radius: 30px;
  border: 1px dashed #38512e;
}
a{
    text-decoration: none;
}
ol{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    list-style-type: none;
}
ol>li>a:hover{
    color: white;
    background-color: #38512e;
    padding: 5px;
    border-radius: 20px;
}
p>a:hover{
    color: white;
    background-color: #38512e;
    padding: 5px;
    border-radius: 10px;
}

#Q1,#Q2,#Q3,#Q4,#Q5{
    height: 100vh;
    margin-top: 20px;
    position: relative;
}
.q-inner{
    padding: 20px;
    height: auto;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
}
.parallax1{
    /* The image used */
    background-image: url("img/2721-M027-TU-IMG-2204804.webp");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
/* The image used */
background-image: url("img/2721-M027-TU-IMG-2204804.webp");

/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax3{
/* The image used */
background-image: url("img/2721-M027-TU-IMG-2204804.webp");

/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax4{
/* The image used */
background-image: url("img/2721-M027-TU-IMG-2204804.webp");

/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax5{
/* The image used */
background-image: url("img/2721-M027-TU-IMG-2204804.webp");

/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }

  


