body{
    background-color: #fff;
    /*background-color: #ececec;*/
}
a{
    text-decoration: none;
    color: black;
}
.menu{
    background-color: #38512e;
    height: 10vh;
    position: relative;
    z-index: 5;
    position: sticky;
    top: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
}
nav li:hover{
    color: #fff;
}
nav li::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all .6s;
}
nav li:hover::before{
    width: 100%;
}

.d-flex{
    height: 25px;
    font-size: 10px;
    position: relative;
   
}
.d-flex > .btn{
    padding: 7px 16px;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    background-color: #fff;
    color: black;
    
}

.navbar-nav{
    position: absolute;
    left: 85%;
}
.banner img{
    height: 75vh;
}

.logo{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nav-link{
    color: white;
}



/*.carouselBanner{
    height: 90vh;
}
*/


ul.productsMenu a{
    text-decoration: none;
    color: #38512e;
    text-transform: uppercase;
}
ul.productsMenu a:hover{
    color: #a39ece;
}
ul.productsMenu {
    list-style-type: none;
    margin: 20px;
    margin-left: 15vw;

}
.row{
    width: 90%;
    margin: auto;
}
.card{
    border: 2px solid #38512e;
    
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    
}
.heading{
    background-color: #dce9bd;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    border: 2px solid #38512e;
    font-family: "El Messiri", sans-serif;
}
.bannerText{
    font-family: "El Messiri", sans-serif;
    text-transform: uppercase;
    margin-left: 20px;
}
.badge{
    background-color: #a39ece;
    margin-right: 10px;
    font-size: 12px;
}
.btn{
    background-color: #38512e;
    color: #fff;
    padding: 8px 16px;

}
.btn:hover{
    background-color: #a39ece;
    color: #fff;
    transition: 0.6s;
}



.productsBtn{
    width: 70%;
    margin: auto;
    padding: 8px 12px;
    border: 2px solid #38512e;
    background-color: transparent;
    border-radius: 10px;
}
.productsBtn:hover{
    background-color: #dce9bd;
    transition: 0.6s;
}

#featured{
    padding: 15px 0;
    width: 90%;
    margin: auto;
}
#newProdHome, .aboutSection{
    padding-top: 40px;
}


.aboutSection{
    height: 600px;
    width: 100%;
}


.form{
    width: 80%;
    margin: auto;
    padding: 40px 0;
}
.form .btn{
    border: 1px solid #38512e;
}




/*Carousel Banner */
.carousel .carousel-inner{
    height: 90vh;
}
.carousel-inner .carousel-item img{
    min-height:200px;
    object-fit:cover
}
    
@media(max-width:768px){
    .carousel .carousel-inner{
    height:auto
    }
}



.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
}

.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
}
.buttons{
    display: flex;
    gap: 12px;
    font-size: 16px;
}
.bi-dash-lg{
    color: red;
}
.bi-plus-lg{
    color: green;
}